<style>
.font-marketsans > body {
    font-family: "Market Sans","Helvetica Neue", Helvetica,Arial,Roboto,sans-serif
}
</style>
<script>
var fontClass = localStorage && localStorage.getItem('ebay-font');
if (fontClass === 'font-marketsans') {
    document.documentElement.classList.add(fontClass);
}
</script>
