<style>
.font-marketsans > body {
    font-family: "Market Sans","Helvetica Neue", Helvetica,Arial,Roboto,sans-serif
}
</style>
<script>
var fontClass = localStorage && localStorage.getItem('ebay-font');
if (fontClass) {
    var docEl = document.documentElement;
	docEl.className += ' '+ fontClass;
}
</script>