<style>
 .ebay-font-marketsans > body {
        font-family: "Market Sans","Helvetica Neue", Helvetica,Arial,Roboto,sans-serif
    }
</style>
<script w-bind>
if (localStorage && localStorage.getItem('ebay-font-class')) {
    var docEl = document.documentElement;
	docEl.className += ' ebay-font-marketsans';
}
</script>